<DModalBody
  @title="discourse_classifieds.ui_builder.title"
  @class="classifieds-ui-builder"
>
  {{! ITEM TITLE }}
  <div class="input-group classified-title">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.title"}}
    </label>
    <Input @value={{this.title}} />
  </div>

  {{! ITEM DESCRIPTION }}
  <div class="input-group classified-description">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.description"}}
    </label>
    <Textarea @value={{this.description}} />
  </div>

  {{! ITEM PRICE }}
  <div class="input-group classified-price">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.price"}}
    </label>
    <Input
      @type="number"
      @value={{this.price}}
      @valueProperty="value"
      @class="price-options-min"
      @min="0"
    />
  </div>

  {{! LOCATION }}
  <div class="input-group classified-location">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.location"}}
    </label>
    <Input @value={{this.location}} />
  </div>

  {{! ITEM CONDITION }}
  <div class="input-group classified-location">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.condition"}}
    </label>
    <ComboBox
      @content={{this.conditionTypes}}
      @value={{this.condition}}
      @class="classified-condition"
      @valueProperty="value"
      @onChange={{action (mut this.condition)}}
    />
  </div>

  {{! COVER IMAGE }}
  <div class="input-group classified-images">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.images"}}
    </label>
    <ImagesUploader
      @uploading={{this.uploading}}
      @done={{action "uploadDone"}}
      @id="cover-image-uploader"
      @class="classified-images-button"
      @type="image"
    />
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @action={{action "createListing"}}
    @icon="plus"
    @class="btn-primary"
    @label="discourse_classifieds.ui_builder.create"
    @disabled={{this.disableInsert}}
  />

  <DButton
    @label="cancel"
    @class="btn-flat"
    @action={{action "cancelListingCreation"}}
  />
</div>