{{#d-modal-body
  title="discourse_classifieds.ui_builder.title"
  class="classifieds-ui-builder"
}}
  {{! ITEM TITLE }}
  <div class="input-group classified-title">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.title"}}
    </label>
    {{input value=classifiedTitle}}
  </div>

  {{! ITEM DESCRIPTION }}
  <div class="input-group classified-description">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.description"}}
    </label>
    {{textarea value=classifiedDescription}}
  </div>

  {{! ITEM PRICE }}
  <div class="input-group classified-price">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.price"}}
    </label>
    {{input
      type="number"
      value=price
      valueProperty="value"
      class="price-options-min"
      min=0
    }}
  </div>

  {{! LOCATION }}
  <div class="input-group classified-location">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.location"}}
    </label>
    {{input value=classifiedLocation}}
  </div>

  {{! ITEM CONDITION }}
  <div class="input-group classified-location">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.condition"}}
    </label>
    {{combo-box
      content=conditionTypes
      value=classifiedCondition
      class="classified-condition"
      valueProperty="value"
      onChange=(action (mut classifiedCondition))
    }}
  </div>

  {{! COVER IMAGE }}
  <div class="input-group classified-images-label">
    <label class="input-group-label">
      {{i18n "discourse_classifieds.ui_builder.inputs.images"}}
    </label>
    {{images-uploader
      uploading=uploading
      done=(action "uploadDone")
      id="cover-image-uploader"
      class="classified-images"
    }}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    action=(action "createListing")
    icon="plus"
    class="btn-primary"
    label="discourse_classifieds.ui_builder.create"
    disabled=disableInsert
  }}

  {{d-button
    label="cancel"
    class="btn-flat"
    action=(route-action "closeModal")
  }}
</div>
