<header class="classifieds-page-header">
  <h1>{{d-icon "store"}} {{i18n "discourse_classifieds.page_title"}}</h1>
  <p>{{i18n "discourse_classifieds.page_description"}}</p>

  <div class="classifieds-toolbar">
    <div class="classifieds-view-options">
      <DButton
        @icon={{this.viewAttributes.icon}}
        @title={{this.viewAttributes.title}}
        @action={{action "toggleView"}}
      />
    </div>
  </div>
</header>

{{#if (eq this.viewStyle "grid")}}
  <div class="listing-gallery-container">
    {{#each classifieds as |listing|}}
      <ListingItem @listing={{listing}} />
    {{/each}}
  </div>
{{else if (eq this.viewStyle "list")}}
  <table class="table classified-listing-table">
    <thead>
      <tr>
        <th class="listing-cover-image-header">
          {{i18n "discourse_classifieds.listing_table.header.image"}}
        </th>
        <th class="listing-title-header">
          {{i18n "discourse_classifieds.listing_table.header.title"}}
        </th>
        <th class="listing-price-header">
          {{i18n "discourse_classifieds.listing_table.header.price"}}
        </th>
        <th class="listing-status-header">
          {{i18n "discourse_classifieds.listing_table.header.status"}}
        </th>
        <th class="listing-location-header">
          {{i18n "discourse_classifieds.listing_table.header.location"}}
        </th>
        <th class="listing-condition-header">
          {{i18n "discourse_classifieds.listing_table.header.condition"}}
        </th>
        <th class="listing-creator-header">
          {{i18n "discourse_classifieds.listing_table.header.creator"}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each classifieds as |listing|}}
        <ListingTableItem @listing={{listing}} />
      {{/each}}
    </tbody>
  </table>
{{/if}}